@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-1 px-1 rounded;
}
.btn-blue {
    @apply bg-teal-500 text-white;
}
.btn-blue:hover {
    @apply bg-teal-700;
}

pre {
    @apply py-1;
}

hr {
    @apply py-1 pb-1;
}

h1 {
    @apply py-3 text-3xl font-semibold;
}

h2 {
    @apply py-3 text-xl font-semibold;
}

p {
    @apply py-2;
}

.line-break {
    white-space: pre-wrap;
  }

.avatar {
    border-radius: 50%;
}


a:hover {
    color: lightslategray;
}
