name: Inertia Build, Deploy Test Server & E2E

on:
  push:
    branches: [main, testing]
  workflow_dispatch:
  release:
    types: [published]

# Allow one run per branch at a time, but parallel across branches
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DIST_ROOT: /dist/${{ github.repository_owner }}_${{ github.event.repository.name }}_${{ github.run_id }}
  CACHE_ROOT: /cache/${{ github.repository_owner }}_${{ github.event.repository.name }}
  SERVER_USER: ${{ secrets.SERVER_USER }}
  SERVER_IP: ${{ secrets.SERVER_IP }}
  SSH_KEY_VPS: ${{ secrets.SSH_KEY_VPS }}
  SERVER_DESTINATION_DIR: /app/website2/

jobs:

  check-vars:
    runs-on: self-hosted
    steps:
      - name: list env variables
        run: |
            echo "DIST_ROOT=$DIST_ROOT"
            echo "CACHE_ROOT=$CACHE_ROOT"
            echo "SERVER_USER=$SERVER_USER"
            echo "SERVER_IP=$SERVER_IP"
            echo "SERVER_DESTINATION_DIR=$SERVER_DESTINATION_DIR"
